/* Icons */

.icons {
	height: 60px;
	width: 60px;
}

.icons-stack {
	height: 55px;
	width: 55px;
	margin-bottom: 2px;
	margin-left: 2px;
}

/* End Icons */

/* Headings & Text */

.my-name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
	color: white;
	background: #4aaaa5;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

h2.headings {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
}

.teal-words {
	color: #4aaaa5;
}

.nav-text a {
	color: grey;
	text-decoration: none;
}

.main-text {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
	line-height: 150%;
}

h6 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
}

/* End Headings & Text */

/* Footer */

footer {
	background: #666666;
}

/* End Footer */

/* Other Layout */

.profile-pic {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.main-section {
	width: 650px;
	padding-left: 20px;
	padding-right: 20px;
}

body {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.connect-section {
	max-width: 270px;
	border: solid 1px grey;
}

/* End Other Layout */